@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  @apply focus:outline-none focus:ring-0;
}

body {
  @apply font-karla  bg-light overflow-x-hidden min-h-screen;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-medium leading-[1.2];
}

.horizontal-overflow::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.horizontal-overflow::-webkit-scrollbar-track:horizontal {
  @apply bg-white dark:bg-[#151515] rounded-[0px] h-[10px];
}

.horizontal-overflow::-webkit-scrollbar-thumb {
  @apply bg-gray-200 rounded-[14px];
}

.invisible-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.invisible-scrollbar::-webkit-scrollbar-track:horizontal {
  @apply rounded-[0px] h-[0px];
}

.invisible-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-200;
}

.vertical-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.vertical-scrollbar::-webkit-scrollbar-track:vertical {
  @apply bg-white dark:bg-[#4f4e4e] rounded-[0px] w-[10px];
}

.vertical-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-200 rounded-[14px];
}
